<div class="dummy"></div>
<div class="container jumbotron">
  <div class="row">
    <div class="col-6 offset-3">
      <h4>{{ recipe.name }}</h4>
      <img [src]="recipe.imagePath" alt="Recipe image" class="img-fluid mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <th colspan="3">Składniki</th></tr>
          <tr>
            <th>Składnik</th>
            <th>Ilość</th>
            <th>Jednostka</th>
          </tr>
          <tr *ngFor="let ingredient of recipe.ingredients">
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.unit }}</td>
          </tr>
        </table>
      </div>
      <div class="clearfix jumbotron">
        <p>{{ recipe.description }}</p>
      </div>
    </div>
    <div class="col-3">
        <div 
        class="btn-group"
        appDropdown
        #r="appDropdown"
        >
        <button type="button" class="btn btn-primary dropdown-toggle">Zarządzaj przepisem
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" [ngClass]="{'show': r.isOpened}">
          <li><a class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer">Edytuj przepis</a></li>
          <li><a class="dropdown-item" (click)="onDeleteRecipe()" style="cursor: pointer">Usuń przepis</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row ml-auto">
    <button class="btn btn-danger" (click)="goBack()">Cofnij</button>
  </div>
</div>