//colors
$color-main-blue: #33beff;
$color-black: #000;
$color-white: #fff;

//fonts
$font-x-large: 24px;
$font-large: 18px;
$font-small: 12px;
$font-normal: 14px;

$font-family-global: Ubuntu;

//metrics
$navbar-height: 100px;

//media queries